# Database Configuration
DATABASE_URL="postgresql://username:password@localhost:5432/vercel-clone?schema=public"

# AWS Configuration
AWS_ACCESS_KEY_ID="your_aws_access_key"
AWS_SECRET_ACCESS_KEY="your_aws_secret_key"
AWS_REGION="ap-south-1"

# S3 Configuration
S3_BUCKET_NAME="your-bucket-name"
